<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="../images/logo.svg">
    <link href="../webcommons/remixicon/fonts/remixicon.css" rel="stylesheet">
    <!--load all styles -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body class="horizontal center">
    <form class="stdCard"  method="POST">

        <header>
            <h2>{{User profile}}</h2>
           
        </header>
        <div class="content stdLabelWidth2">
            <div class="growFormField">
                <label>{{Username}}:</label><strong><%= username %></strong>
            </div>
            <div class="growFormField">
                <label>{{Full name}}:</label><input type="text" id="fullname" name="fullname" value='<%= fullname %>''>
            </div>
            <div class="growFormField">
                <label>{{Current password}}:</label><input type="password" id="password" name="password" >
            </div>
            <div class="growFormField">
                <label>{{New password}}:</label><input type="password" id="passwordNew" name="passwordNew" >
            </div>
            <div class="growFormField">
                <label>{{Confirm new password}}:</label><input type="password" id="passwordAgain" name="passwordAgain" >
            </div>
            <div class="growFormField">
                <label>{{E-mail}}:</label><strong><%= email %></strong> 
            </div>
            <div class="container horizontal spaceBetween">
                <button>{{Update}}</button>
                <% if(message) {%>
                    <span class="error"><%= message %></span>
                <% } %>
                <% if(confirmation) {%>
                    <span ><%= confirmation %></span>
                <% } %>
            </div>
        </div>
    </form>
</body>

</html>